body {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display";
}

#home-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#login-register {
  display: flex;
  justify-content: space-evenly;
}


#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 20px;
  font-family: "Red Hat Display";
  height: 2rem;
  width: 20rem;
  border: 2px solid grey;
  border-radius: 5px;
}

input[type="text"], input[type="password"]{
    padding-left: 5px;
}

input:hover {
  border-color: black;
  background-color: grey;
}

input::placeholder {
  color: black;
}

label {
  margin-bottom: 5px
}

button {
  font-family: "Red Hat Display";
  height: 2rem;
  border: 2px solid grey;
  border-radius: 5px;
}

button:hover {
  border-color: black;
  background-color: grey;
}